@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-style: normal;
    src:
    url(SpoqaHanSansNeo-Regular.ttf) format('ttf');
}

html{
    font-size: 62.5%;  
}

.layout-container {
    width: 100%; /* 100% 너비로 설정하여 부모 컨테이너에 맞게 설정 */
    height: 100%; /* 100% 높이로 설정하여 부모 컨테이너에 맞게 설정 */
}
  
.section_container {
    height: 100vh;
    overflow: hidden; /* 이미지가 영역을 넘어가는 부분은 가려집니다. */
}

.mt-start{
    margin-top: 10rem;
}

.SubTitle_font{
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 1.6rem;
}

.Title_font{
    font-size: 6rem;
    line-height: normal;
}

.button_container{
    width: 35.8rem;
    height: 6.4rem;
    padding: 0.9rem 0rem;
}

.button_font{
    font-size: 2.4rem;
    line-height: normal;
    font-style: bold;
}


/***************** Hero **************/
.Hero_button_container{
    width: 35.3rem;
    height: 6.4rem;
    padding: 0.8rem 6.4rem;
}

.hero-container {
    height: 100vh;
    z-index: 0;
}

.hero-content{
    position: relative;
    z-index: 1;
}

.HeroStartMarginTop{
    margin-top: 2rem;
}

.HeroLogo{
    width: 6.4rem;
    height: 6.4rem;
}

.HeroWooriyaFont{
    width: 31.9rem;
    height: 8rem;
}

.HeroWord1{
    font-size: 6.4rem;
    line-height: normal;
}

.HeroWord2{
    font-size: 2.4rem;
}

.HeroArrow{
    width: 9rem;
    height: 12rem;
}

.HeroEndMarginTop{
    margin-top: 25rem;
}

/***************** Benefit **************/

.BenefitsStartMarginTop{
    margin-top: 19.2rem;
}

.BenefitsTextFont{
    font-size: 6rem;
    line-height: normal;
}

.BenefitsButtonMarginTop{
    margin-top: 6.4rem;
}

.cardImage{
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
}

.cardFont{
    font-size: 2rem;
    line-height: normal;
}

.card_container{
    width: 18.4rem;
    height: 17.9rem;
    padding: 2.4rem 0rem;
}

/***************** Provide **************/

.ProvidButtonMarginTop{
    margin-top: 3.2rem
}

.provide-mt{
    margin-top: 29rem;
}

.provid-mr{
    margin-right: 10rem;
}

  /* 기본 카드 스타일 */
  .foursquare-card {
    position: relative;
    width: 28.8rem; /* 기본 카드 크기 */
    height: 28.8rem;
    border-radius: 3.2rem; /* 카드 테두리 둥글게 처리 */
    overflow: hidden; /* 카드 영역을 넘어간 이미지 숨김 */
  }
  .foursquare-cardMarginTop{
    margin-top: 2.3rem
  }

  .foursquare-mt{
    margin-top: -14.5rem
  }

  .foursquare-card-gap{
    gap: 2.4rem;
  }

  /* Text 스타일은 그대로 유지 */
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    font-size: 3rem;
    z-index: 1;
  }

/***************** Step **************/
.miniStepfont{
    font-size: 2rem;
}
.miniContentfont{
    font-size: 1.5rem;
}
.Step_Card_container{
    width: 60rem;
    height: 18rem;
    padding: 1.6rem 0.8px;
    padding-bottom: 0.5rem;
}
.stepImage{
    width: 12rem;
    height: 12rem;
}
.stepAllMarginleft{
    margin-left: 2.5rem;
}
.stepAllMarginRight{
    margin-right: 2.5rem;
}
.stepfontfize{
    line-height: normal;
    font-size: 3.2rem;
    font-style: bold;
}
.stepContentfontsize{
    font-size: 2.4rem;
    line-height: normal;
}

/***************** Proposal **************/

.color-Box{
    width: 60rem;   /* 600px / 16px = 37.5rem */
    height: 75.4rem;  /* 754px / 16px = 47.125rem */
    z-index: 0;
}

.ProposalSetmarginTop{
    margin-top: 8rem;
}

.ProposalLogo{
    width: 4rem;   /* 600px / 16px = 37.5rem */
    height: 4rem;  /* 754px / 16px = 47.125rem */
    z-index: 1;
}

.ProposalWooriya{
    width: 20rem;   /* 600px / 16px = 37.5rem */
    height: 5rem;  /* 754px / 16px = 47.125rem */
    z-index: 1;
}

.ProposalGrayFont{
    font-size: 2.4rem;
    line-height: normal;
}

.ProposalWhiteFont{
    font-size: 3.2rem;
    line-height: normal;
}

.ProposalMariginTop32{
    margin-top: 3.2rem;
}

.ProposalMariginTop64{
    margin-top: 6.4rem;
}

.black_button_container{
    width: 32rem; 
    height: 5.5rem; 
    padding: 0.3125rem 0;
    border-radius: 6.4rem;
}

.mt-start{
    margin-top: 8rem;
}

@layer utilities {
    .bg-coolgray-cg-20 {
      background-color: var(--coolgray-cg-20, #F7F9FA);
    }

    .rounded-lg {
        border-radius: 32px;
      }
    
    .bg-coolgray-cg-00 {
        background-color: var(--coolgray-cg-00, #FFF);
    }
    
    .custom-box-shadow {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    }

    .rounded-md {
        border-radius: 12px;
      }
    
    .bg-blue-16 {
        background-color: rgba(38, 125, 255, 0.16);
    }

    .text-primary {
        color: var(--primary, #267DFF);
    }

    .text-coolgray-cg-700 {
        color: var(--coolgray-cg-700, #525C66);
    }

    .text-coolgray-cg-800{
        color: var(--coolgray-cg-800, #292E33);
    }

    .custom-border-radius {
        border-radius: 32px;
      }
    
    .custom-background {
        background: linear-gradient(118deg, #2CC8A2 0%, #015EE9 100%);
    }

    .border-radius-64 {
        border-radius: 64px;
      }
      
    .background-coolgray-800 {
        background: var(--coolgray-cg-800, #292E33);
    }

    .color-coolgray-cg-00 {
        color: var(--coolgray-cg-00, #FFF);
    }

    .color-coolgray-cg-100 {
        color: var(--coolgray-cg-100, #DAE0E6);
    }

    .borderRadius32 {
        border-radius: 32px;
    }
      
    .backgroundLinearGradient {
        background: linear-gradient(118deg, #2CC8A2 0%, #015EE9 100%);
    }
}
.Mobile_start_maring{
    margin-top: 4.7rem;
}

.Mobile_hero_between{
    margin-top: 5rem;
}

.Moblie_hero_logo{
    width: 2.6rem;
    height: 2.6rem;
}

.Mobile_hero_wooriya{
    width: 13.2rem;
    height: 3.3rem;
}

.Mobile_hero_font{
    font-size: 3.2rem;
    line-height: normal;
    font-weight: 700;
}
.Mobile_Hero_button_container{
    height: 4.8rem;
    width: 35.8rem;
    padding: 0.8rem 6.4rem;
    gap: 0.8rem;
}
.Mobile_Hero_button_font{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.Mobile_MiniTitle_sub{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.Mobile_button_font{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
}

.Mobile_provier_font{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
}

.Mobile_Step_card_container{
    width: 35.8rem;
    height: 13rem;
    padding: 2.4px 0.8rem;
}

.Mobile_Step_card_content_font{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.Mobile_Proposal_margintop_32{
    margin-top: 3.2rem;
}

.Mobile_Proposal_margintop_16{
    margin-top: 1.6rem;
}

.Mobile_Proposal_margintop_8{
    margin-top: 0.8rem;
}

.Mobile_white_fontsize{
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
}

.Mobile_gray_fontsize{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.Mobile_Proposal_logo{
    width: 2.6rem;
    height: 2.6rem;
}
.Mobile_Proposal_wooriya{
    width: 13.2rem;
    height: 3.3rem;
}

@media screen and (min-width: 360px) and (max-width: 389px){
    html{
        font-size: 45%;  
    }
    .foursquare-card {
        width: 17.1rem; /* 기본 카드 크기 */
        height: 17.1rem;
        border-radius: 3.2rem; /* 카드 테두리 둥글게 처리 */
        overflow: hidden; /* 카드 영역을 넘어간 이미지 숨김 */
      }
    
      .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: white;
        font-size: 2rem;
        z-index: 1;
      }
    
      .stepImage{
        width: 8rem;
        height: 8rem;
      }
    .color-Box{
        width: 35.8rem;   /* 600px / 16px = 37.5rem */
        height: 45rem;  /* 754px / 16px = 47.125rem */
        z-index: 0;
      }
      .black_button_container{
        width: 24rem; 
        height: 4.8rem; 
        padding: 1.25rem 0;
        border-radius: 6.4rem;
      }
      .mt-start{
        margin-top: 3rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 767px){
      /* 기본 카드 스타일 */
  .foursquare-card {
    width: 17.1rem; /* 기본 카드 크기 */
    height: 17.1rem;
    border-radius: 3.2rem; /* 카드 테두리 둥글게 처리 */
    overflow: hidden; /* 카드 영역을 넘어간 이미지 숨김 */
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    font-size: 2rem;
    z-index: 1;
  }

  .stepImage{
    width: 8rem;
    height: 8rem;
  }
.color-Box{
    width: 35.8rem;   /* 600px / 16px = 37.5rem */
    height: 45rem;  /* 754px / 16px = 47.125rem */
    z-index: 0;
  }
  .black_button_container{
    width: 24rem; 
    height: 4.8rem; 
    padding: 1.25rem 0;
    border-radius: 6.4rem;
  }
}

@media screen and (min-width: 1400px){
    html{
        font-size: 52.5%;  
    }
}